@model Markom.ViewModel.UnitViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .modal-content {
        max-width: 450px;
    }

    #code, #created_by, #created_date, #name, #description {
        display: inline;
        max-width: 250px;
    }

    #fitur-add, #fitur-search {
        padding-bottom: 15px;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        List Unit
    </div>
    <div class="panel-body">
        <div style="background-color:#f5f5f0">
            Home / Master / List Unit
        </div>
        <div class="col-md-12" id="fitur-add">
            <input id="btn-create-new" type="button" class="btn btn-primary pull-right" value="Add" />
        </div>
        <div id="fitur-search">
            @Html.DropDownListFor(model => model.code, (IEnumerable<SelectListItem>)ViewBag.Code, "-Select Unit Code-", new { @class = "form-control" })
            @Html.DropDownListFor(model => model.name, (IEnumerable<SelectListItem>)ViewBag.Name, "-Select Unit Name-", new { @class = "form-control" })
            @Html.EditorFor(model => model.created_date, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "Created Date" } })
            @Html.EditorFor(model => model.created_by, new { htmlAttributes = new { @class = "form-control", @placeholder = "Created By" } })
            <input id="btn-search" type="button" class="btn btn-warning pull-right" value="Search" />
        </div>

        <div id="unit-list">Loading...</div>
    </div>




</div>
<span class="text-primary" id="notif"></span>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal Tittle</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        
        $(document).ready(function () {
            GetList();
        });

        function GetList() {
            var code = $('#code option:selected').text();
            var name = $('#name option:selected').text();

            $.ajax({
                url: '@Url.Action("List","Unit")',
                type: 'get',
                data: { code: code, name: name, createdDate: $("#created_date").val(), createdBy: $("#created_by").val() },
                success: function (result) {
                    $("#unit-list").html(result);
                }
            });
        }

        $("#btn-create-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Unit")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Add Unit");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });

        $("#btn-search").click(function () {
            GetList();
        });




    </script>


}


