@model IEnumerable<Markom.ViewModel.RoleViewModel>

<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            Role Code
        </th>
        <th>
            Role Name
        </th>
        <th>
            Created Date
        </th>
        <th>
            Created By
        </th>
        <th>
            Action
        </th>
    </tr>
    <tbody>
        @{ int counter = 0;
            
            }
        @foreach (var item in Model)
        {
            counter++;
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @item.created_date.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_by)
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-edit" data-id="@item.id" title="Edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>

                    </button>
                    <button type="button" class="btn btn-delete" data-id="@item.id" title="Delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

                    </button>
                    <button type="button" class="btn btn-detail" data-id="@item.id" title="Detail">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

                    </button>

                </div>
            </td>
        </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    
    var editName = $("#name").val();
    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete","Role")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                
                $(".modal-title").html("Delete Data");
                $(".modal-body").html(result);
                $(".modal").modal("show");


            }
        });
    });

    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit","Role")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                var titleName = '@Session["EditName"]';
                var titleCode = '@Session["EditCode"]';

                $(".modal-title").html("Edit Role - " + titleName + " (" + titleCode + ")");
                $(".modal-body").html(result);
                $(".modal").modal("show");


            }
        });
    });

</script>